<div class="container" id:="page-content">
              <div class="row">
            <!-- At the end of all your content, add Bootstrap JS here -->

              <!-- Headshot       -->
              <div class="col-sm-4">
             <img class="profile-pic" src="https://avatars2.githubusercontent.com/u/40248673?s=400&u=b325070ff344310da57a237e89a13cd2ccf093bb&v=4" alt="Profile Image">
                  </div>

              <!-- About -->
            <div class="col-sm-8">
                <h1>About Me</h1>

              <!--  Bio      -->
              <p>LOOKING FOR A WEB DEVELOPER?</p>                 
                <p>I'M A WEB DEVELOPER AND PROGRAMMER LIVING IN TALLAHASSEE, FLORIDA.</p> 
                  <hl>
               <p> I primarily use Ruby, but picking up a new framework or language isn't a problem. I have extensive financial accounting
                  experience and I'm comfortable developing on the frontend or backend as well as setting up or managing infrastructure.</p>
 


              <!-- Links   -->
                
              <a class="btn btn-outline-dark" href="https://github.com/keithsrinivasan" target="_blank">Github</a>
              <a class="btn btn-outline-dark" href="mailto:keithsrinivasan@gmail.com" target="_blank">keithsrinivasan@gmail.com</a>
               </div>
      </div>
    </div>

