<div class="container" id:="page-content">
              <div class="row">
            <!-- At the end of all your content, add Bootstrap JS here -->
  <div class="container">
    <div class="text-block">
    <font size="12">Welcome to my page</font>
    
      </div>
</div> 
  </div>
</div> 
              <!-- Headshot       -->
              <div class="col-sm-4">
             <img class="profile-pic" src="https://avatars2.githubusercontent.com/u/40248673?s=400&u=b325070ff344310da57a237e89a13cd2ccf093bb&v=4" alt="Profile Image">
                  </div>

              <!-- About -->
            <div class="col-sm-8">
                <h1>About Me</h1>

              <!--  Bio      -->
                <p></p>                 
                <p></p> 
                <p> Keith Srinivasan is a full stack web developer with a passion for creative problem solving.

With experience in Ruby on Rails and JavaScript, and a background in publishing, business analysis, and law, Ethan Ryan discovered web development through a desire to create his own writing portfolio website.

Keith brings strong communication and research skills that help companies grow and succeed.</p>
 


              <!-- Links   -->
                
              <a class="btn btn-outline-dark" href="https://github.com/keithsrinivasan" target="_blank">Github</a>
              <a class="btn btn-outline-dark" href="mailto:keithsrinivasan@gmail.com" target="_blank">keithsrinivasan@gmail.com</a>
           </div>
      
                      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
